{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ pageTitle | default:'Project Operations Dashboard' }}</title>

    {% include 'general/head-libraries.html' %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

    {% if customStyles %}
        {% for style in customStyles %}
            <link rel="stylesheet" type="text/css" href="{% static style %}">
        {% endfor %}
    {% endif %}

</head>
<body>
    {% include 'general/navbar.html' %}

    {% block content %}
    {% endblock %}

</body>
</html>