html, body {
    height: 100%;
}

.container {
    height: 100%;
}

.login-card {
    max-width: 25rem;
    width: 100%;
    border: none;
    border-radius: 1rem;
}

.login-card .card-body {
    padding: 2.5rem;
}

.server-error-message {
    background-color: var(--server-error-field-color);
    color: var(--server-error-field-text-color);
}